<header>
    <div class="logo">
        N O F F E
    </div>
    <hr color="black" noshade size="1px" width="100%">
    <div>
        &lt; возможно header &gt;
    </div>
    <hr color="black" noshade size="1px" width="100%">
</header>