<header>
    <div class="logo">
        <a href="/">N O F F E</a>
    </div>
    <hr color="black" noshade size="1px" width="100%">
    <div>
        &lt; возможно header &gt;
    </div>
    <hr color="black" noshade size="1px" width="100%">
</header>