{{!-- <h1>Список пользователей</h1> --}}

<div class="container">
    <div>
        <a href="projects">Редактировать проекты</a>
    </div>
    <div class="projects">
        {{#each projects}}
        <div class="project-card">
            <img src="{{this.image}}">
            <div class="title">{{this.name}}</div>
            {{!-- <div>{{this.description}}</div> --}}
        </div>
        {{/each}}
    </div>
</div>