<h1>Upload file</h1>
<form action="./upload" method="post" enctype="multipart/form-data">
    <label>Наименование</label>
    <input name="name" /><br><br>

    <label>Описание</label>
    <input name="description"/><br><br>

    <label>Файл</label><br>
    <input type="file" name="filedata" /><br><br>

    <input type="submit" value="Send" />
</form>